[submodule "learn-foundry/hello_foundry/lib/forge-std"]
	path = learn-foundry/hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "learn-foundry/hello_foundry/lib/solmate"]
	path = learn-foundry/hello_foundry/lib/solmate
	url = https://github.com/transmissions11/solmate
